<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Профиль</title>
    <link rel="stylesheet" type="text/css" href="/assets/style.css">
</head>

<body>

    <%- include('blocks/header') -%>
        <main>
            <div class="modal" data-modal="1">
                <!--   Svg иконка для закрытия окна  -->
                <svg class="modal__cross" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/></svg>
                <div>
                    <h2>
                        Введите данные для подтверждения:
                    </h2>
                    <form class="authorization" action="/profile/delete" method="post">
                        Логин<br>
                        <input class="login" type="text" name="login"><br> Пароль
                        <br>
                        <input class="password" type="password" name="password"><br>
                        <div class="divmessage">
                            <span class="message">
                        Test message
                    </span>
                        </div>
                        <input type="submit" value="Удалить">
                    </form>
                </div>
            </div>

            <div class="modal" data-modal="2">
                <!--   Svg иконка для закрытия окна  -->
                <svg class="modal__cross" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/></svg>
                <h2>
                    Смена пароля:
                </h2>
                <form class="form2" action="/profile/newpass" method="post">
                    Старый пароль<br>
                    <input class="pass" type="password" name="oldpass"><br> Новый пароль
                    <br>
                    <input class="newpass" type="password" name="newpass"><br> Повторите новый пароль<br>
                    <input class="newpassrep" type="password" name="newpassrepeat"><br>
                    <div class="divmessage">
                        <span class="message">
                    Test message
                </span>
                    </div>
                    <input type="submit" value="Сменить">
                </form>
            </div>

            <div class="modal" data-modal="3">
                <!--   Svg иконка для закрытия окна  -->
                <svg class="modal__cross" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/></svg>
                <h2>
                    Изменить аватар:
                </h2><br>
                <form action="/profile/avatar" method="post" enctype="multipart/form-data">
                    Файл:
                    <input type="file" name="file"><br><br><br>
                    <input type="submit" value="Загрузить">

                </form>
            </div>

            <!-- Подложка под модальным окном -->
            <div class="overlay" id="overlay-modal"></div>
            <div class="photoProfile" style="display: inline-block;">
                <img class="js-open-modal" data-modal="3" src="/assets/avatars/<%=avatar%>" width="220" height="220"><br>
                <h2>
                    <%= role %>
                </h2>
            </div>
            <div class="info">
                <form id="myform" action="/profile/userupdate" method="post">
                    <span>Имя - </span>
                    <input type="text" name="name" value='<%= name %>'><br>
                    <span>Фамилия - </span>
                    <input type="text" name="surname" value='<%= surname %>'><br>
                    <span>Отчество - </span>
                    <input type="text" name="fathername" value='<%= fathername %>'><br>
                    <span>Дата рождения - </span>
                    <input type="date" name="date" value='<%= date %>'><br>
                    <span>Пол - </span>
                    <select name="gender">
                        <% if (gender == 'Мужской'){ %>
                            <option>Мужской</option>
                            <option>Женский</option>
                            <% } %>
                        <% if (gender == 'Женский'){ %>
                        <option>Мужской</option>
                        <option <%= 'selected' %>>Женский</option>
                        <% } %>

                    </select><br>
                </form>
                <button class="js-open-modal" data-modal="2">Сменить пароль</button>
            </div>
            <div id="newpassbtn" class="buttonProfile" style="display: block;">
                <a>
                    <form action="/profile" method="get">
                        <input type="submit" id="cancelButton" value="Отменить изменения">
                    </form>
                </a>
                <a>
                    <input type="submit" form="myform" id="saveButton" value="Сохранить изменения">
                </a>
                <a style="display: block;">
                    <button id="deleteButton" class="js-open-modal" data-modal="1">Удалить профиль</button>
                </a>
            </div>
        </main>
        <%- include('blocks/footer') -%>
</body>
<script src="/assets/modal.js"></script>

</html>